# Python virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.local
.env.dev
.env.prod
.env.example

# Untracked upstream
/test_tema.txt
/notite_capitol2.py
/notite_capitol_3.py
/notite_capitol_3.2.py
/Hello World.py

# Session exercises
/sessions

# Specific ignores
hw_templates
assignments/hw_adv/tema_3/tema_3.ipynb
assignments/hw_adv/tema_4/_data_extra
assignments/hw_adv/**/requirements.txt
assignments/hw_adv/tema_6/Perception.txt
assignments/hw_adv/tema_6/data/Perception.txt
assignments/hw_adv/tema_6/data/ref_img.jpg
assignments/hw_adv/a_4_collections/_data_extra

# Python cache / build files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
build/
dist/

# PyCharm
.idea/

# VS Code
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db